.primary-color{
    color: rgb(150, 119, 178);
}
.large-font{
    font-size: xx-large;
    font-weight: bold;
}
.medium-font{
    font-size: larger;
    font-weight: bold;
}
.inline{
    display: inline;
    margin-right: 5px;
}
.link-styles{
    text-decoration: none;
    background: rgb(150, 119, 178);
    border-radius: 5px;
    padding: 5px;
}
.link-styles:hover{
    opacity: 0.9;
}
.center{
    padding: 30px 30%;
    height: 75vh;
}
.p{
    padding: 10px 5px;
}

section{
    position: relative;
    margin:0 90px;
}

.left{
    width: 450px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 40px;   
}
.right{
    width: 400px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 0;
    padding: 40px;
}

.m{
margin: 10px 5px;
}